<html>

<head>
    <title>Item Details</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">

    <style>
        #json1 {
            max-width: 100%;
            overflow-x: auto;
        }

        #json2 {
            max-width: 100%;
            overflow-x: auto;
        }

        #d1 {
            background-color: beige;
        }

        #d2 {
            background-color: aquamarine;
        }

        #d3 {
            background-color: lightgray;
        }
    </style>
</head>

<body>

    <div>
        <h1>{{title}}</h1>
    </div>

    <br />

    <div id="d1">
        <h2>Origin Template</h2>
        <h3>
            <pre id="json2">{{content}}</pre>
        </h3>
    </div>

    <br />

    <div id="d2">
        <h2>Command</h2>
        <h3>{{cmd}}</h3>
    </div>

    <br />
    <div id="d3">
        <h2>Response</h2>
        <h3>
            <pre id="json1">{{result}}</pre>
        </h3>
    </div>
    <script>

        var content = JSON.parse('{{ content | tojson | safe }}');
        console.log(content);
        document.getElementById('json2').textContent = JSON.stringify(content, null, 2);
    </script>
</body>

</html>