<html>

<head>
    <title>stackorderflow-api</title>
    <link rel="icon" href="static/stackorderflow-icon.png"/> 
    <link rel="apple-touch-icon" href="static/stackorderflow-icon.png"/> 
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            text-align: center;
            margin: 0;
        }
    </style>
</head>

<body>
    <h1>
        <img src="{{ url_for('static', path='stackorderflow-logo-whiteBG.png') }}" alt="StackOrderFlow Logo" width="400">
    </h1>
    <h2>Back-end Server</h2>
    <h3><a href="./docs">-> See API Documnets</a></h3>
</body>

</html>