.wrapper {
  position: relative;
  box-sizing: border-box;
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-8)
  );
}

.inner {
  position: relative;
  padding-top: rem(20px);
  padding-bottom: rem(12px);
}

.code-wrapper {
  background-color: #dedede;
  border-radius: 8px;
}
